build/
dist/
embeddings/
retrieval_ground_truths/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp
*.jpg
*.png
.vscode/
*.pth
*.json
*.out
dinov2/data/datasets/RVL-CDIP/list_bboxes_*
*.csv
